body {
}

#score {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    font-weight: 900;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
}